{{!-- Modal --}}

<div class="modal fade" id="confirmarDelete" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Confirmar exclusão de categoria</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Deseja confirmar a exclusão da categoria?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Cancelar</button>

        <form action="/admin/categorias/deletar" method="post">
            <input type="hidden" name="id" id="id">
            <button type="submit" class="btn btn-danger btn-sm">Confirmar</button>
        </form>
      </div>

    </div>
  </div>
</div>

{{!-- Conteúdo --}}


<h2>Lista de categorias:</h2>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-success">Nova categoria</button></a>

{{#each categorias}}
    <div class="card mt-3">
        <div class="card-body">
          <h4>{{this.nome}}</h4>
          <small>Slug: {{this.slug}}</small>
          <br>
          <small>Data de criação: {{this.date}}</small>
          <br>

          <a href="/admin/categorias/edit/{{this._id}}">
            <button type="button" class="btn btn-warning btn-sm mt-4">Editar categoria</button>
          </a>
          
          <button type="button" class="btn btn-danger btn-sm mt-4" data-bs-toggle="modal" data-bs-target="#confirmarDelete" onclick="setaDadosModal('{{this._id}}')">Deletar categoria</button>
        </div>
    </div>
{{else}}
    <div class="alert alert-danger mt-3">
      <h5>Nenhuma categoria registrada!</h5>
    </div>
{{/each}}

<script>
  function setaDadosModal(idParaExcluir){
    document.querySelector("input#id").value = idParaExcluir;
  };

</script>