{{#each erros}}
    <div class="alert alert-danger">{{this.texto}}</div>
{{else}}

{{/each}}
<h2>Editar</h2>

<div class="card">
    <div class="card-body">
        <form action="/admin/categorias/edit" method="post">
            <input type="hidden" name="id" value="{{categoria._id}}">
            <label for="nome">Nome:</label>
            <input type="text" required id="nome" name="nome" placeholder="Nome da categoria" class="form-control" value="{{categoria.nome}}" minlength="2">

            <br>

            <label for="slug">Slug: </label>
            <input type="text" required id="slug" name="slug" placeholder="Slug da categoria" class="form-control" value="{{categoria.slug}}" minlength="2">

            <br>
            <button type="submit" class="btn btn-success">Salvar alterações</button>
        </form>
    </div>
</div>