<div class="mt-4 p-5 bg-secondary text-white rounded">
  <h1 class="display-4">Bem-vindo ao blog do Thiago</h1>
  <p class="lead">Este é um BLOG simples desenvolvido com Node.js + Express + MongoDB.</p>
  <hr>
  <p>Veja as últimas novidades!</p>
  <p>
    <br>
    <a class="btn btn-primary btn-lg" href="/usuario/registro" role="button">Crie uma conta</a>
  </p>
</div>
<br>

<h2>Postagens recentes: </h2>

{{#each postagens}}
  <div class="card mt-4">
    <div class="card-body">
      <small>Categoria: {{this.categoria.nome}}</small>
      <hr>
      <h3>{{this.titulo}}</h3>
      <p>{{this.descricao}}</p>
      <a href="/postagem/{{this.slug}}"><button class="btn btn-success">Leia mais</button></a>
      <hr>
      <small>Data de postagem: {{this.date}}</small>
    </div>
  </div>
{{else}}

  <h5>Nenhuma postagem </h5>
{{/each}}